body {font-family: "Open Sans", sans-serif;}

html {font-size: 16px;}

/* Borders can be used to group and prioritize content. Create a .label selector
 and give it a border set to 2px solid black.*/
 .label {border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;}

/* If you inspect your .label element with your browser's developer tools, 
you may notice that it's actually 288 pixels wide instead of 270. This is because,
by default, the browser includes the border and padding when determining an element's size.
To solve this, reset the box model by creating a * selector and giving it a 
box-sizing property of border-box.*/
* {box-sizing: border-box;}

header h1 {
    text-align: center;
    margin-top: -4px;  /*-4px (top-bottom), 0 (left-right)*/
    margin-bottom: -4px;
    margin-left: 0;
    margin-right: 0;

/* The letter-spacing property can be used to adjust the space between each character 
of text in an element. */
    letter-spacing: 0.15px;}

/* Create a p selector and remove all margins.*/
p {margin: 0;}

.divider {border-bottom: 1px solid #888989;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;

/* This will clear the float property, pushing the divider and any following content
down below the float text.*/
    clear: right;}

.bold {font-weight: 800;}

/* The float property is used to place an element on the left or right of its container,
allowing other content (such as text) to wrap around it.
Create a new .right selector and set the float property to right.*/
.right {float: right;}

.lg {height: 10px;}

.lg, .md {background-color: black;
    border: 0;}

/* The rem unit stands for root em, and is relative to the font size of the html element.*/
.sm-text {font-size: 0.85rem;}

/* Create a new .calories-info h1 selector setting the top and bottom margin to -5px,
and the left and right margin to -2px.*/

/* The larger font size of the number 230 is causing it to overflow. Give the .calories-info
h1 an overflow property set to hidden to avoid this.*/
.calories-info h1 {margin: -5px -2px;
    overflow: hidden;}

.calories-info span {font-size: 1.2em;
    margin-top: -7px;}

.md {height: 5px;}

.indent {margin-left: 1em;}

/* Create a .daily-value p selector to target all of your p elements in the 
daily-value section. Give this new selector a border-bottom set to 1px solid #888989.*/

/* The :not pseudo-selector can be used to select all elements that do not
match the given CSS rule. Modify your .daily-value p selector to exclude the .no-divider elements.*/ 
.daily-value p:not(.no-divider) {border-bottom: 1px solid #888989;}

.dbl-indent {margin-left: 2em;}

.note {font-size: 0.6rem;
    margin: 5px 0;

/* Give the .note selector a left and right padding of 8px, removing the top and 
bottom padding. Also set the text-indent property to -8px.*/
    padding: 0 8px;
    text-indent: -8px;}
