/* Normalize your box model by creating a * selector and setting 
the box-sizing property to border-box as the value.*/
* {box-sizing: border-box;}

/* Your images are too big. Create a .gallery img selector to target them.
Give them all a width of 100% and a max-width of 350px so they shrink as 
needed but don't get too big. Also set the height property to 300px to 
keep your images a uniform size*/
.gallery img {width: 100%;
    max-width: 350px;
    height: 300px;}
    